[Desktop Entry]
Version=1.0
Name=QuteQoin
Comment=QuteQoin desktop mouling agent
Type=Application
Icon=QuteQoin-Icon.png
Terminal=false
Exec=quteqoin
Categories=Network
